/* Droid Arabic Naskh (Arabic) http://www.google.com/webfonts/earlyaccess */
@font-face{font-family:'Droid Arabic Naskh';font-style:normal;font-weight:400;src:url(../font/droidarabicnaskh/v4/DroidNaskh-Regular.eot);src:url(../font/droidarabicnaskh/v4/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),url(../font/droidarabicnaskh/v4/DroidNaskh-Regular.woff2) format('woff2'),url(../font/droidarabicnaskh/v4/DroidNaskh-Regular.woff) format('woff'),url(../font/droidarabicnaskh/v4/DroidNaskh-Regular.ttf) format('truetype');}
@font-face{font-family:'Droid Arabic Naskh';font-style:normal;font-weight:700;src:url(../font/droidarabicnaskh/v4/DroidNaskh-Bold.eot);src:url(../font/droidarabicnaskh/v4/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),url(../font/droidarabicnaskh/v4/DroidNaskh-Bold.woff2) format('woff2'),url(../font/droidarabicnaskh/v4/DroidNaskh-Bold.woff) format('woff'),url(../font/droidarabicnaskh/v4/DroidNaskh-Bold.ttf) format('truetype');}
/* Droid Arabic Kufi (Arabic) http://www.google.com/webfonts/earlyaccess */
@font-face{font-family:'Droid Arabic Kufi';font-style:normal;font-weight:400;src:url(../font/droidarabickufi/v3/DroidKufi-Regular.eot);src: url(../font/droidarabickufi/v3/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),url(../font/droidarabickufi/v3/DroidKufi-Regular.woff2) format('woff2'),url(../font/droidarabickufi/v3/DroidKufi-Regular.woff) format('woff'),url(../font/droidarabickufi/v3/DroidKufi-Regular.ttf) format('truetype');}
@font-face {font-family:'Droid Arabic Kufi';font-style:normal;font-weight:700;src:url(../font/droidarabickufi/v3/DroidKufi-Bold.eot);src:url(../font/droidarabickufi/v3/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),url(../font/droidarabickufi/v3/DroidKufi-Bold.woff2) format('woff2'),url(../font/droidarabickufi/v3/DroidKufi-Bold.woff) format('woff'),url(../font/droidarabickufi/v3/DroidKufi-Bold.ttf) format('truetype');}
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
body { font-family: Tahoma, Times, Arial, serif }
input, button, textarea { font-family: Tahoma, Times, Arial, serif }
table th, table td { text-align: right !important; }
tr.th { font-size: 14px; font-weight: bold; line-height: 24px; font-family: 'Droid Arabic Kufi', 'Times New Roman', Times, Arial, Tahoma; background: #cdcdcd }
h2, h3 { font-family: 'Droid Arabic Kufi', 'Times New Roman', Times, Arial, Tahoma; }
.container { direction: rtl; text-align: right; }
.collapse { height: auto; }
.navbar-inner { background-image: none; filter: none; }
#header .row { margin: 0 }
/** Brand **/
.navbar .brand { float: right; margin: 11px 0 0 0; padding: 0; overflow: hidden; height: 41px; width: 140px; position: relative; }
.navbar .brand a { display: block; background: darkGray; height: 41px; width: 140px; padding: 0; position: absolute; left: 0; top: 0; text-decoration: none; }
/** Search **/
#search { margin: 0; padding: 5px 0; /*float: none;*/ display: inline; width: 580px; }
#search form { margin: 0; padding: 5px 0; flaot: right; }
#search form input, #search form select { margin-bottom: 0; padding-top: 10px; padding-bottom: 9px; }
#search #searchword { border-left: 0 none; border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; width: 220px; }
#search .select2-container { height: 41px; margin-right: -4px;  }
#search .select2-container.search-selectbox { width: 120px; }
#search .select2-container .select2-choice { height: 39px; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-color: #ccc; font-family: 'Droid Arabic Naskh' }
#search .select2-container .select2-choice span { margin-right: 0; margin-left: 30px; padding: 7px 7px 0 0; }
#search .select2-container .select2-choice div { border-left: 0 none; border-right: 1px solid #ccc; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; left: 0; right: auto; width: 20px; }
#search .select2-container .select2-choice div b { background-position: 2px 5px; }
#search .btn { margin-top: 0; height: 41px; font-family: 'Droid Arabic Naskh', 'Droid Arabic Kufi'; font-weight: bold; line-height: 31px; }
#search .btn i { line-height: 21px; }
#search #advanced-search { display: inline; line-height: 41px; }
#search #advanced-search a { display: inline-block; margin-right: 5px; color: #888 }
.select2-search input { direction: rtl; text-align: right; }
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit { direction: rtl; text-align: right; }
.select2-results li { direction: rtl; text-align: right; }
#searchcategories { margin-right: -4px; height: 41px; width: 130px; border-radius: 3px 0px 0px 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset }
/** User Area **/
#userarea { margin: 10px 0; width: 160px; }
#userarea ul { list-style: disc inside; }
.userarea-inner {  }
#login-form input { text-align: left; direction: ltr }
#login-form input::-moz-placeholder { text-align: center; }
#login-form button { float: left; }
/** Register **/
#register-modal input[type="checkbox"] { margin: 0; }
.form-horizontal .control-label { float: right; }
.form-horizontal .controls { margin-left: 0; margin-right: 160px; }
.guide { font-size: 10px; color: #737373 }
/** Popover */
.popover.bottom { box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4); max-width: 250px; }
.popover.bottom .arrow { border-color: transparent !important }
.popover.bottom .arrow:after { border-bottom-color: #f7f7f7; }
.popover-title, .popover-content { text-align: right; }
/* Mainbody */
#mainbody { background: #f8f8f8; min-height: 800px; margin-top: 60px; padding-top: 20px; }
/*#mainbody [class*="span"] { float: right; }*/
/* Boxes */
#items { margin: 0 -10px; }
.item { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); border: 1px solid #ddd; border-radius: 3px; width: 158px; /**/overflow: hidden;/**/ margin: 10px; float: right; cursor: pointer; }
.item:hover { box-shadow: 0 0px 2px 1px #ccc; *border-color: darkGray; }
.item a:hover { text-decoration: none; }
.item .inner { padding: 5px; position: relative; }
.item .image { width: 148px; overflow: hidden; }
.item .image img { width: 148px; height: auto; }
.item .info { width: 138px; height: 50px; position: absolute; bottom: 30px; right: 5px; background: #fff; background: rgba(255, 255, 255, 0.7); padding: 5px; display: none; }
.item:hover .info { display: block }
.item .info .details { line-height: 14px; height: 35px; overflow: hidden; }
.item .info .price { font-weight: bold; position: absolute; left: 5px; bottom: 5px; }
.item .more { height: 25px; font-size: 11px; line-height: 30px; overflow: hidden; color: gray }
.item .more .title { float: right; }
.item .more .time { float: left; color: #bbb; }
/** Slideshow **/
.slideshow { position: relative; width: 100%; height: 250px; background: #eee; margin-bottom: 10px; z-index: 0 }
.slideshow ul { margin: 0; list-style: none; height: 250px; overflow: hidden; }
.slideshow li { width: 700px; height: 250px; float: left; }
.slideshow .pagination { position: absolute; top: 0; left: 20px; z-index: 999 }
.slideshow .pagination a { display: inline-block; width: 10px; height: 10px; border: 1px solid #fff; margin-right: 7px; text-indent: -999px; overflow: hidden; }
.slideshow .pagination a.selected { background: #fff; }
/* Sidebar */
#sidebar { position: relative; z-index: 600; }
.sidenav { width: 228px; margin: 20px 0 0; padding: 0; }
.sidenav > li { position: relative; /* z-index: 9998; */ }
.sidenav > li > a { display: block; width: 190px \9; margin: 0 0 -1px; padding: 8px 14px; border-bottom: 1px solid #e5e5e5; color: #333; font-family: 'Droid Arabic Naskh'; }
.sidenav > li:hover, .sidenav > li a:hover, .sidenav > li > a.active { background: #fff; }
.sidenav > li > a .arrow { display: inline-block; float: left; padding-top: 2px; color: #333; *float: none; *text-align: left; margin-left: -5px \9; }
.sidenav .icon-chevron-right { float: right; margin-top: 2px; margin-right: -6px; opacity: .25 }
.sidenav li:hover .arrow, .sidenav a:hover .arrow { opacity: .5 }
.sidenav.affix { top: 60px }
.sidenav.affix-bottom { position: absolute; top: auto; bottom: 270px }
.nav-list > li:hover .sub-items { display: block; }
/** Sub Items **/
.sidenav > li .sub-items { display: none; right: 200px; }
/*.sidenav > li:hover > .sub-items { display: block; }*/
.sub-items { position: absolute;/*  z-index: 99999; */ width: 350px; background: #fff; right: 0; top: 0; z-index: 999; padding: 10px; -webkit-box-shadow: 0 8px 6px -6px #ccc; -moz-box-shadow: 0 8px 6px -6px #ccc; box-shadow: 0 8px 6px -6px #ccc; }
.sub-items .item-cols {  }
.sub-items .item-cols h3 { font-family: 'Droid Arabic Kufi', 'Times New Roman', Times, Arial, Tahoma; font-weight: normal; font-size: 16px; line-height: 30px; border-bottom: 1px solid #eee; margin: 0 0 5px }
.sub-items .item-cols ul { list-style: none; margin: 0; }
.sub-items .item-cols .top-categories { width: 175px; margin-left: 15px; }
.sub-items .item-cols .top-categories li {  }
.sub-items .item-cols .top-categories h4 { font-family: 'Droid Arabic Naskh', 'Times New Roman', Times, Arial, Tahoma; font-weight: normal; font-size: 14px; line-height: 20px; }
.sub-items .item-cols .top-categories h4 span { display: inline-block; width: 20px; height: 20px; float: right; margin-left: 5px; }
.sub-items .item-cols .other-categories { width: 160px; }
/**//**/.sub-items .item-cols .top-categories h4 span { background: url('../data/icons/car.gif') no-repeat 0 0 transparent; }
/* Item Images */
.item-image { width: 180px; background: #efefef; border: 1px solid #ddd; position: relative; z-index: 890 }
.item-image:hover { border: 1px solid #ababab }
.item-image img { display: block; }
/* Modals */
.modal { width: 720px; margin-left: -360px; }
.modal h2, .modal h3 { font-family: 'Droid Arabic Kufi', 'Droid Arabic Naskh', 'Times New Roman', Times, Arial; direction: rtl; text-align: right; float: right; }
.modal .close { float: left; }
.modal .modal-header h3 { width: 650px; }
.modal .modal-body { direction: rtl; text-align: right; }
.modal .modal-footer { direction: rtl; text-align: right;height: 45px; padding: 7px 15px 8px; }
.modal .modal-footer h3 { margin: 7px 0; width: 150px; }
/* Items Modal */
#item-modal .item-image {}
#item-modal .item-image:hover {}
#item-modal .item-image img {}
#item-modal .item-title { width: 480px; }
#item-modal .item-oldprice span { text-decoration: line-through; }
#item-modal .item-details { width: 480px; margin: 0; list-style: none; text-align: right; }
#item-modal .item-details li { height: 22px; padding: 3px 0; border-bottom: 1px solid #ddd; }
#item-modal .item-details li:last-child { border-bottom: 1px solid transparent; }
#item-modal .item-details span { font-weight: bold; }
#item-modal .options { padding-top: 10px; }
#item-modal .options div { display: inline-block; padding-right: 20px; }
/* Item Page */
.item-title { font-family: 'Droid Arabic Kufi', 'Droid Arabic Naskh', 'Times New Roman', Times, Arial; }
.item-info ul { width: 500px; margin: 0; list-style: none; }
.item-info ul li { height: 22px; padding: 3px 0; border-bottom: 1px solid #ddd; }
.item-info ul li:last-child { border-bottom: 1px solid transparent; }
.item-info ul li span { font-weight: bold; }
.item-info ul li .item-oldprice span { text-decoration: line-through; }
.item-options ul { list-style: none; margin: 0; text-align: left; width: 500px;  }
.item-options ul li { display: inline-block; }
.nav-tabs > li, .nav-pills > li { float: right; }
.nav-tabs > li > a, .nav-pills > li > a { margin-right: 0 }
.item-details { margin: 30px 0 20px; }
.item-details .nav { margin-bottom: 0; }
.item-details .tab-content { padding: 20px 10px; background: #fff; border-right: 1px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-radius: 4px; }
.related-items { height: 100px; margin-bottom: 40px; }
.related-items h3 { float: right; width: 180px; line-height: 70px; }
.related-items ul { margin: 0; list-style: none; float: left; }
.related-items ul li { width: 100px; float: right; margin-right: 20px; }
.related-items ul li > a { display: table-cell; vertical-align: middle; text-align: center; width: 100px; height: 100px; border: 1px solid #ddd; background: #fff; }
.related-items ul li > a:hover { border: 1px solid #ababab; }
.related-items ul li > a img { max-width: 100px; max-height: 100px; }
/* Cart */
#cart-modal .image-holder {  }
#cart-modal .image-holder a { display: block; width: 100px; height: 100px; overflow: hidden; border: 2px solid #ddd; }
#cart-modal .image-holder a:hover { border: 2px solid #ababab; }
#cart-modal .image-holder img { width: 100px; height: auto; }
#cart-modal h4 { font-family: 'Droid Arabic Naskh', 'Droid Arabic Kufi', 'Times New Roman', Times, Arial; }
#cart-modal h4 a { color: #333 }
#cart-modal .modal-footer { height: auto; }
/* Footer */
#footer .fixed { position: fixed; bottom: 0 }
#footer .fixed .alert { margin: 0 }
/* 404 Page */
.other-things { display: none; }
.search-goog { color: transparent }
.p404 { color: #737373; font-family: 'Droid Arabic Naskh', 'Droid Arabic Kufi', 'Times New Roman', Times, Arial; }
.p404 .modal-header h1 { font-size: 40px; text-align: center; direction: rtl; font-family: 'Droid Arabic Kufi', 'Droid Arabic Naskh', 'Times New Roman', Times, Arial; color: #737373; }
.p404 .modal-header span { color: #BBB }
.p404 p { margin: 1em 0;  font-size: 20px; line-height: 1.4 }
.p404 ul { list-style: disc inside; font-size: 16px; }
.p404 ul li { margin: 10px 0 }
.p404 form { direction: rtl; float: left; }
.p404 input { margin-bottom: 0 }
.p404 input[type="text"] { padding: 2px 4px; margin-left: 10px; }
.p404 input[type="submit"] { display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:12px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); }
/* Avgrund */
.avgrund-popin{position:absolute;background:#fff;padding:10px;overflow:hidden;visibility:hidden;opacity:0;filter:alpha(opacity=0);top:50%;left:50%;z-index:1000;box-shadow:0 1px 10px 0 rgba(0,0,0,.5);-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8)}
.avgrund-overlay{background:#000;width:100%;position:relative;top:-1500px;left:0;z-index:101;visibility:hidden;opacity:0;filter:alpha(opacity=0)}
body.avgrund-ready,.avgrund-ready .avgrund-popin,.avgrund-ready .avgrund-overlay{-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:.3s all ease-out;-moz-transition:.3s all ease-out;-ms-transition:.3s all ease-out;-o-transition:.3s all ease-out;transition:.3s all ease-out}
body.avgrund-active{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-ms-transform:scale(0.9);-o-transform:scale(0.9);transform:scale(0.9);overflow:hidden}
.avgrund-active .avgrund-popin{visibility:visible;opacity:1;filter:alpha(opacity=100);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.avgrund-active .avgrund-overlay{visibility:visible;opacity:.5;filter:alpha(opacity=50);height:20000px}
.avgrund-popin.stack{-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);-o-transform:scale(1.5);transform:scale(1.5)}
.avgrund-active .avgrund-popin.stack{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1)}
.avgrund-active .avgrund-blur{-webkit-filter:blur(1px);-moz-filter:blur(1px);-ms-filter:blur(1px);-o-filter:blur(1px);filter:blur(1px)}
.avgrund-close{display:block;color:#555;font-size:13px;text-decoration:none;text-transform:uppercase;position:absolute;top:6px;right:10px}


@media print {
	* { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
