@charset "UTF-8";

 @font-face {
  font-family: 'mart-icons';
  src: url('../font/mart-icons.eot?21898505');
  src: url('../font/mart-icons.eot?21898505#iefix') format('embedded-opentype'),
       url('../font/mart-icons.woff?21898505') format('woff'),
       url('../font/mart-icons.ttf?21898505') format('truetype'),
       url('../font/mart-icons.svg?21898505#mart-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mart-icons';
    src: url('../font/mart-icons.svg?21898505#mart-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mart-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-left:before { content: '\2190'; } /* '←' */
.icon-up:before { content: '\2191'; } /* '↑' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-down:before { content: '\2193'; } /* '↓' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-cart:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */